h2 {
  padding-bottom: 50px;
}
div {
  padding-bottom: 2px;
}

.devmode-toggle {
  display: flex;
  justify-content: flex-end; /* Push the toggle switch to the right */
  margin-right: 20px;
  margin-top: 1vh;
  flex-direction: column;
  align-items: end;
  justify-content: right;
}

.full-width-row {
  width: 100vw; /* Set the row width to 100% of the viewport width */
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  width: 100%; /* Optional: Set the width of the content div */
}

.right-align {
  display: flex;
  justify-content: flex-end; /* Right-align the Toggle component */
}
// .rectangle-box {
//   background-color: #e5e5e5; /* Grey background color */
//   height: 25vh; /* 1/3rd of the viewport height */
//   display: flex;
//   width: 90vw;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding: 20px;

//   border-radius: 5px;
//   overflow-x: auto; /* Enable horizontal scrollbar if needed */
//   overflow-y: auto;
//   max-width: 100%; 
//   margin: 0; 
//   padding: 10px;
// }

.rectangle-box {
  background-color: #e5e5e5;
  height: 30vh;
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  overflow-y: auto; 
  overflow-x: auto;
  max-width: 120%;
  margin: 0;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add some spacing between messages */
}

.message {
  display: flex;
  flex-direction: column;
}

.custom-code-snippet {
  white-space: pre-wrap; /* Wrap text onto new lines */
  max-width: 90%; /* Ensure the CodeSnippet fits within its container */
}

.box-title {
  font-size: 1.5rem; /* Adjust the title font size as needed */
  margin: 0;
}

.box-text {
  font-size: 1rem; /* Adjust the text font size as needed */
  text-align: left;
}
